<mat-toolbar color="primary">
  <span class="app-logo">
    <img src="../assets/images/download.png" alt="Logo" height="30">
  </span>

  <span class="spacer"></span>

  <div class="menu">
    <button mat-button>
      <mat-icon>account_tree</mat-icon>
      Organization Structure
    </button>
    <button mat-button>
      <mat-icon>settings</mat-icon>
      Configurations
    </button>
    <button mat-button>
      <mat-icon>insert_chart</mat-icon>
      Reports
    </button>
    <button mat-button>
      <mat-icon>build</mat-icon>
      ETL
    </button>
  </div>

  <span class="spacer"></span>

  <div class="user-section">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>



<app-migration-offcanvas></app-migration-offcanvas>
<app-footer></app-footer>
<router-outlet></router-outlet>
